* {
    margin: 0;
    padding: 0;
}

:root {
    --flip-speed: 0.5s;
}

body {
    height: 100vh;
    background-image: url("/src/assets/img/fancy\ restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

h1 {
    color: white
}

main {
    background: rgba(200, 200, 200, 0.3);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.215);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

main p {
    max-width: 300px;
}

p {
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
}

#instructions-container {
    display: flex;
    flex-direction: column;
}

#coin-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    padding: 10px;
    position: relative;
}

#coin-container img {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: block;
    top: 0;
    left: 0;
}

#heads {
    animation-duration: var(--flip-speed);
    animation-iteration-count: 4;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#coin-container.flip-to-heads #heads {
    animation-name: rotate-heads;
}
#coin-container.flip-to-heads #tails {
    animation-name: rotate-tails;
}

#coin-container.flip-to-tails #heads {
    animation-name: rotate-tails;
}
#coin-container.flip-to-tails #tails {
    animation-name: rotate-heads;
}

@keyframes rotate-heads {
    0% {
        transform:rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform:rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform:rotate3d(0, 1, 0, 360deg);
    }
}

#tails {
    animation-duration: var(--flip-speed);
    animation-iteration-count: 4;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform:rotate3d(0, 1, 0, 180deg);
}

@keyframes rotate-tails {
    0% {
        transform:rotate3d(0, 1, 0, 180deg);
    }
    50% {
        transform:rotate3d(0, 1, 0, 360deg);
    }

    100% {
        transform:rotate3d(0, 1, 0, 180deg);
    }
}

#scoreboard-container {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

#scoreboard-container.hidden {
    display: none;
}

#actions-container {
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    font-weight: bold;
}

footer {
    color: white;
}
